.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: 'EB+Garamond', 'Noto Serif SC', serif;
}
.sans-serif {
  font-family: 'Open Sans', 'Noto Sans SC', system-ui, sans-serif;
}
