.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: Arial, 'Lora', 'Times New Roman', serif;
}
.sans-serif {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.math-serif {
  font-family: 'Cambria Math', serif;
}
