transition-all()
  -webkit-transition all 0.5s
  -moz-transition all 0.5s
  transition all 0.5s

.transition-all
  transition-all()

background-cover()
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover

.background-cover
  background-cover()

font-serif = 'Lora', 'Noto Serif SC', serif
font-sans  = 'Open Sans', 'Noto Sans SC', system-ui, sans-serif

.serif
  font-family font-serif

.sans-serif
  font-family font-sans