<% if (category) { %>
    <a
        class="category-link"
        href="javascript:void(0)"
        onclick="ArchivesFilter.updateQuery('category', '<%= category.name %>')"
        data-category="<%= category.name %>">
        <%= category.name %>
    </a>
<% } %>