<% if (category) { %>
    <a
        class="category-link category-active category-<%= category.name.replaceAll(" ", "-").toLowerCase() %>"
        href="javascript:void(0)"
        onclick="jumpToArchives('category', '<%= category.name %>')"
        data-category="<%= category.name %>">
        <%= category.name %>
    </a>
<% } %>