<% if (category) { %>
    <a
        class="category-link category-active"
        href="javascript:void(0)"
        onclick="jumpToArchives('category', '<%= category.name %>')"
        data-category="<%= category.name %>">
        <%= category.slug %>
    </a>
<% } %>